Repository FelipeCarlosTech/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-products-api, test-orders-api, test-frontend, build-products-api, build-orders-api, build-frontend, deploy-products-api, deploy-orders-api, deploy-frontend

Path conditions:
  test-products-api: any of: apps/products-api/**/*
  test-orders-api: any of: apps/orders-api/**/*
  test-frontend: any of: apps/homelabshop/**/*
  build-products-api: any of: apps/products-api/**/*
  build-orders-api: any of: apps/orders-api/**/*
  build-frontend: any of: apps/homelabshop/**/*
  deploy-products-api: any of: apps/products-api/**/*
  deploy-orders-api: any of: apps/orders-api/**/*
  deploy-frontend: any of: apps/homelabshop/**/*

Modify description message on the Home page
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Add testing dependencies
  apps/homelabshop/package-lock.json
  apps/homelabshop/package.json
Due: test-frontend, build-frontend, deploy-frontend

Transform axios
  apps/homelabshop/package.json
Due: test-frontend, build-frontend, deploy-frontend

Import matchers
  apps/homelabshop/src/App.test.js
Due: test-frontend, build-frontend, deploy-frontend

Change HOST from name to IP
  .gitlab-ci.yml
Due: none

Commit to activate pipeline
  apps/homelabshop/src/App.test.js
Due: test-frontend, build-frontend, deploy-frontend

Change Gitlab CI runner to execute in nodezero
  .gitlab-ci.yml
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Change runner with docker for test and build stage and shell runner to deploy stage
  .gitlab-ci.yml
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Fix anchor name
  .gitlab-ci.yml
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Change Docker registry path and delete nginx.conf
  .gitlab-ci.yml
  apps/homelabshop/Dockerfile
Due: test-frontend, build-frontend, deploy-frontend

Remove use of .kube/config of felipecarlos in the command to deploy
  .gitlab-ci.yml
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Fix path to k8 config
  .gitlab-ci.yml
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend

Activate products-api pipeline
  apps/products-api/tests/test_app.py
Due: test-products-api, build-products-api, deploy-products-api

Fix path to app to use in python tests
  .gitlab-ci.yml
  apps/products-api/tests/test_app.py
Due: test-products-api, build-products-api, deploy-products-api

Run orders-api pipeline
  apps/orders-api/tests/test_app.py
Due: test-orders-api, build-orders-api, deploy-orders-api

Enhance README.md with architecture diagram, testing instructions, deployment environments, maintenance tasks, contributing guidelines, and FAQs
  README.md
Due: none

Test youtube commit
  apps/homelabshop/src/pages/Home.js
Due: test-frontend, build-frontend, deploy-frontend
